{% extends "bdd_icono/base.html" %}
{% load crispy_forms_tags %}

{% block contenu %}

<div class="image-container mb-2">
  <div class="bandeau" text-align="justify"> </div>
</div>

<div class="container mt-5">
  <h1>Recherche</h1>
  <div class="card mb-4">
    <div class="card-body">
      <form action="{% url 'resultats' %}" name='query' method="POST">
        {{ formulaire|crispy }}{% csrf_token %}
        <input class="btn btn-info btn-ric" type="submit" value="Rechercher">
      </form>
    </div>
  </div>
</div>

{% endblock %}