{% extends "bdd_icono/base.html" %}

{% block contenu %}
<div class="modal" id="Modal_for_image" tabindex="-1" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{image.n_cesr}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="Image_in_modal" src="" class="img-fluid" alt="Affichage en grand de {{image.n_cesr}}">
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-ric" href="{{ image.permalien }}" target="_blank">Lien vers l'originale</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-4">
    <img src="../../media/bdd_icono/miniatures/{{ image.n_cesr }}.jpg" class="mt-2 img-thumbnail image_pop-up" width="100%" data-bs-toggle="modal" data-bs-target="#Modal_for_image" data-bs-image-src="../../media/bdd_icono/miniatures/{{ image.n_cesr }}.jpg">
  </div>
  <div class="col">
    <div class="card m-2">
      <div class="card-body">
        <div class="d-flex w-100 justify-content-between flex-wrap">
          <h4 class="card-title">Lieu de conservation</h4>
        </div>
        <div class="mt-2">
          <dl>
            <dt>Institution : <span class="rubiklight">{{image.fk_departement.fk_institution.institution_nom}}</span></dt>
            <dt>Fonds Département de collection : <span class="rubiklight">{{image.fk_departement.departement_nom}}</span></dt>
            <dt>Cote : <span class="rubiklight">{{image.cote}}</span></dt>
          </dl>
        </div>
      </div>
    </div>
    <div>
      <div class="card m-2">
        <div class="card-body">
          <div class="d-flex w-100 justify-content-between flex-wrap">
            <h4 class="card-title">Oeuvre</h4>
          </div>
          <div class="mt-2">
            <dl>
              <dt>Auteur(s) :<span class="rubiklight">{{image.fk_extrait_de.fk_auteur.auteur_nom}}</span></dt>
              <dt>Lieu : <span class="rubiklight">{{image.fk_extrait_de.fk_auteur.lieux_activites}}</span></dt>
              <dt>Légende : <span class="rubiklight">{{image.legende}}</span></dt>
              <dt>Extrait de : <span class="rubiklight">{{image.fk_extrait_de.extrait_de_nom}}</span></dt>
              <dt>Date : <span class="rubiklight">{{image.fk_extrait_de.date_creation}}</span></dt>
              <dt>Période : <span class="rubiklight">{{image.fk_extrait_de.periode_creation}}</span></dt>
              <dt>Technique : <span class="rubiklight">{{image.technique_libelle}}</span></dt>
              <dt>Catégorie : <span class="rubiklight">{{image.fk_extrait_de.categorie}}</span></dt>
              <dt>Description : <span class="rubiklight">{{image.description}}</span></dt>
              <dt>Instruments : <span class="rubiklight">{{image.mot_cle_libelle}}</span></dt>
              <dt>Mots clés : <span class="rubiklight">{{image.mot_cle_libelle}}</span></dt>
              <dt>Thème : <span class="rubiklight">{{image.themes.fk_theme.theme_libelle}}</span></dt>
              <dt>Références bibliographiques : <span class="rubiklight">{{image.donnees_biblio.ref_biblio}}</span></dt>
              <dt>Ref. Collection Épitome : <span class="rubiklight">{{image.donnees_biblio.edition}}</span></dt>
              <dt>N° doc CESR : <span class="rubiklight">{{image.n_cesr}}</span></dt>
              {% if user.is_authenticated %}
                <dt>
                  <a class="btn btn-primary" href="{% url 'download_image' image.id %}">Télécharger l'image en HD</a>
                </dt>
              {% else %}
                <dt>
                  <p>Vous n'êtes pas connecté, contactez le laboratoire Ricercar pour plus d'informations.</p>
                </dt>
              {% endif %}
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
