{% extends "bdd_icono/base.html" %}
{% load static %}

{% block contenu %}


{%if param != '' %}
{{images.count}} Resultats pour : {{param}}
{%endif%}


<div class="container">
  <div class="mt-5">
    <h1 class="text-center courgette">Résultats</h1>
  </div>
</div>
<br>
<div class="container my-4">
  {% for image in images %}
  <div class="row justify-content-center align-items-start mb-2">
    <div class="col-md-2 m-2 border rounded bg-dark">
      <a href="{% url 'image' image.id %}"><img src="../../media/bdd_icono/miniatures/{{ image.n_cesr }}.jpg"
          class="img-fluid" alt="Image {{ image.n_cesr }}"></a>

    </div>
    <div class="col-md-5 m-2 p-2 bg-light border rounded d-flex flex-column justify-content-between">
      <div>
        <p>
          {% if image.cote %}
            <strong>Cote :</strong>{{ image.cote }}<br>{% endif %}
          {% if image.fk_extrait_de.fk_auteur %}
            <strong>Auteur(s)</strong> :
            {% if image.fk_extrait_de.fk_auteur.auteur_nom %}
              {{image.fk_extrait_de.fk_auteur.auteur_nom|upper}}{% endif %}
            {% if image.fk_extrait_de.fk_auteur.auteur_prenom %}
              {{image.fk_extrait_de.fk_auteur.auteur_prenom}} {% endif %}
            {% if image.fk_extrait_de.fk_auteur.pseudonyme %}
              (pseudonyme : {{image.fk_extrait_de.fk_auteur.pseudonyme}}){% endif %}<br>
            {% endif %}

          {% if image.description  != 'non-renseigné' %}
            <strong>Description :</strong> {{ image.description|truncatechars:50  }}{% if mage.description|length > 5 %}...{% endif %}<br>{% endif %}
          {% if image.fk_extrait_de.date_creation %}
            <strong>Date : </strong>{{ image.fk_extrait_de.date_creation }}{% endif %}
        </p>
      </div>
      <div>
        <a class="btn btn-ric" href="{% url 'image' image.id %}">Voir l'image</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}