{% extends "bdd_icono/base.html" %}
{% load static %}

{% block contenu %}
{%if param != '' %}
{{images.count}} Resultats pour : {{param}}
{%endif%}
{% for image in images %}
<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title">
        <img src= "" class="card-img-top" alt="{{image.legende}}">
        {{image.commentaire|slice:"50" }}{% if image.commentaire|length > 50 %}...{% endif %}
        <a class="btn btn-info" href="{% url 'image' image.id %}">Voir l'image</a>
      </h5>
      <hr>
    </div>
  </div>
</div>
{% endfor %}
{% comment %} {%if images.paginator.num_pages > 1 %}
<div class="pagination">
  <span class="step-links">
      {% if images.has_previous %}
          <a href="?page=1">Première page</a>
          {% if images.previous_page_number != 1 %}
            <a href="?page={{ images.previous_page_number }}">Page {{images.previous_page_number}}</a>
          {%endif%}
      {% endif %}
      <span class="current">
          Page {{ images.number }} sur {{ images.paginator.num_pages }}.
      </span>
      {% if images.has_next %}
        {% if images.next_page_number != images.paginator.num_pages%}
        <a href="?page={{ images.next_page_number }}">Page {{images.next_page_number}}</a>
        {%endif%}
      <a href="?page={{ images.paginator.num_pages }}">Dernière page</a>
      {% endif %}
  </span>
</div>
{% endif %} {% endcomment %}
{% endblock %}